html {
  scroll-behavior: smooth;
}
header {
  background-color: rgba(35, 35, 35, 0.7);
  position: fixed;
  top: 0;
  width: 100%;
  height: 15%;
  padding: 0 12%;
  z-index: 5;
}
.navbar-toggle-button {
  display: none;
}
header div {
  margin-top: 3.7%;
  display: flex;
  justify-content: space-between;
}
header h1 {
  display: inline-block;
  font-size: 18px;
  font-family: 'sourcesansbold';
}
header nav {
  display: inline-block;
}
header nav li {
  display: inline-block;
  margin-right: 20px;
  font-size: 16px;
  font-family: 'sourcesansbold';
}
header nav li a {
  transition: 0.3s;
}
header nav li a:hover {
  color: #e64a19;
  transition: 0.3s;
}
#nav-bar {
  transition: 0.2s;
}

.head-image {
  width: 100%;
}
.section-1 h2 {
  font-size: 72px;
  font-family: 'sourcesansblack';
  margin-left: 7.5%;
}
.section-1 div {
  display: flex;
  position: absolute;
  top: 0;
  margin-top: 27%;
  margin-left: 55%;
  flex-direction: column;
}
.underline {
  margin: 2% 0 2% 45%;
  width: 30%;
}
.section-1-p {
  text-align: right;
  margin-top: 4%;
  margin-right: 25%;
  line-height: 30px;
  font-size: 18px;
}
.section-1 div button {
  width: 272px;
  height: 50px;
  margin-left: 35%;
  margin-top: 6%;
  background-color: transparent;
  cursor: pointer;
  transition: 1s;
}
.section-1 div button:hover {
  border-color: rgb(230, 74, 25);
  color: black;
  background-color: rgba(230, 74, 25, 0.1);
  transition: 0.5s;
}
.section-2 {
  padding: 10% 22%;
}
.section-2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}
.section-2 h3 {
  text-align: center;
  margin-bottom: 6%;
  font-size: 27px;
  font-family: 'sourcesansbold';
}
.section-2 p {
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  font-family: 'sourcesansregular';
}
.section-3 {
  background-color: #efefef;
  padding: 7% 5%;
}
.section-3 div {
  display: flex;
  justify-content: space-around;
}
.section-3 div article {
  width: 15%;
}
.section-3 div article img {
  margin-bottom: 10%;
}
.section-3 div article h4 {
  margin-bottom: 15%;
  font-size: 18px;
  font-family: 'sourcesanssemibold';
}
.section-3 div article p {
  line-height: 25px;
  margin-bottom: 15%;
  font-size: 16px;
  font-family: 'sourcesansregular';
}
.section-4 {
  padding: 9%;
}
.section-4 h3 {
  text-align: center;
  font-size: 27px;
  font-family: 'sourcesansbold';
}
.section-4-p {
  width: 750px;
  text-align: center;
  margin: auto;
  padding: 4% 4% 6% 4%;
  line-height: 30px;
  font-size: 16px;
  font-family: 'sourcesansregular';
}
.section-4 div article {
  width: 370px;
  height: 370px;
  background-color: #222222;
  padding: 6% 4%;
  transition: 0.8s;
  position: relative;
  cursor: pointer;
}
.section-4 div article:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
  transform: scale(0, 1);
  transition: transform 0.5s ease;
  background-color: #e64a19;
}
.section-4 div article:hover:after {
  transform: scale(1, 1);
}
.section-4 div article h5 {
  font-size: 14px;
  text-align: left;
  font-family: 'sourcesansregular';
  color: #eeeeee;
  margin-bottom: 9%;
}
.section-4-article-p {
  font-size: 24px;
  font-family: 'sourcesansregular';
  color: #eeeeee;
  margin-bottom: 37%;
  line-height: 35px;
}
.section-4-name-n-date {
  font-size: 14px;
  font-family: 'sourcesanssemibold';
  color: #eeeeee;
  line-height: 20px;
}
.section-4 div {
  display: flex;
  justify-content: space-around;
}
.section-5 {
  background-color: #efefef;
  padding: 6% 20% 8% 20%;
}
.section-5 h3 {
  font-size: 27px;
  font-family: 'sourcesansbold';
  margin-bottom: 5%;
  text-align: center;
}
.section-6 {
  padding: 8%;
}
.section-6 h3 {
  text-align: center;
  font-size: 27px;
  font-family: 'sourcesansbold';
  margin-bottom: 3%;
}
.section-6 p {
  width: 760px;
  line-height: 30px;
  font-size: 16px;
  font-family: 'sourcesansregular';
  text-align: center;
  margin: auto;
  margin-bottom: 3%;
}
.underline-2 {
  display: block;
  margin: auto;
  margin-bottom: 3%;
}
.section-6 ul {
  margin-bottom: 8%;
  text-align: center;
}
.section-6 ul li {
  display: inline-block;
  margin: 0 3%;
  font-size: 16px;
  font-family: 'sourcesansregular';
  transition: 0.3s;
}
.section-6 ul li:hover {
  color: #e64a19;
  transition: 0.3s;
}
.portfolionscreens {
  display: block;
  margin: auto;
}
.section-7 {
  padding: 10% 22% 6% 22%;
  background-color: #212121;
}
.section-7 p,
h5 {
  color: white;
  font-size: 20px;
  font-family: 'sourcesansregular';
  text-align: center;
}
.section-7 p {
  line-height: 38px;
  margin-bottom: 6%;
}
.section-8 {
  padding: 13% 15% 10% 15%;
}
.section-8 h3 {
  font-size: 27px;
  font-family: 'sourcesansbold';
  text-align: center;
  margin-bottom: 7%;
}
.section-8-p {
  font-size: 16px;
  font-family: 'sourcesansregular';
  line-height: 33px;
  text-align: center;
  margin-bottom: 7%;
}
.section-8 div article img {
  margin-bottom: 55px;
}
.crew-name {
  font-size: 16px;
  font-family: 'sourcesansbold';
  margin-bottom: 15px;
}
.role {
  font-size: 15px;
  font-family: 'sourcesansregular';
}
.section-8 div {
  display: flex;
  justify-content: space-around;
}
.factsandnumbersbg {
  width: 100%;
  position: absolute;
  z-index: 2;
}
.facts-numbers {
  position: relative;
  z-index: 3;
  margin: 0 20%;
  padding-top: 7%;
}
.section-9 h4 {
  text-align: center;
  padding-bottom: 8%;
  font-family: 'sourcesansbold';
  font-size: 27px;
  color: white;
}
.section-9 div blockquote {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 10%;
  display: grid;
  justify-content: center;
  column-gap: 100px;
  row-gap: 20px;
  grid-template-columns: 25% 25%;
  grid-template-rows: 60% 60%;
  grid-template-areas:
    'article1' 'article2'
    'article3' 'article4';
}
.section-9 div blockquote article {
  text-align: center;
  display: inline-block;
  color: white;
  font-family: 'sourcesanspro';
}
.facts-numbers-orange-underline {
  margin-left: 46%;
  margin-right: 49%;
}
.section-10 {
  padding: 22% 10% 10% 10%;
}
.section-10 div article {
  display: inline-block;
  text-align: center;
  width: 50%;
  padding: 10%;
  vertical-align: top;
}
.section-10 div article h6 {
  color: #555555;
  font-size: 14px;
  font-family: 'sourcesansregular';
  margin-bottom: 3%;
}
.section-10 div article h4 {
  font-size: 24px;
  font-family: 'sourcesanssemibold';
  margin-bottom: 10%;
}
.section-10 div article p {
  font-size: 16px;
  font-family: 'sourcesansregular';
  line-height: 25px;
}
.section-11 {
  padding: 5%;
  background-color: #efefef;
}
.section-11 article {
  padding: 1% 2%;
  display: inline-block;
  border-left: solid 5px black;
}
.section-11 h6 {
  font-size: 18px;
  font-family: 'sourcesanssemibold';
  margin-bottom: 5%;
}
.section-11 p {
  font-size: 14px;
  font-family: 'sourcesansregular';
  color: #555555;
}
.section-11 div {
  display: flex;
  justify-content: space-around;
}
footer {
  background-color: #212121;
  padding: 5% 5% 1% 5%;
}
footer input {
  background-color: #212121;
}
footer h4 {
  color: #eeeeee;
}
.f-h-1 {
  margin-bottom: 5%;
  font-size: 22px;
  font-family: 'sourcesansbold';
}
.f-h-2 {
  margin-bottom: 7%;
  font-size: 15px;
  font-family: 'sourcesanssemibold';
}
footer p {
  margin-bottom: 5%;
  line-height: 25px;
}
footer p,
footer li {
  color: #999999;
  font-size: 15px;
  font-family: 'sourcesansregular';
}
footer li {
  margin-bottom: 4%;
}
footer li a {
  transition: 0.3s;
}
footer li a:hover {
  color: #e64a19;
  transition: 0.3s;
}
.msg {
  display: block;
  width: 65%;
}
.section-f-1 {
  width: 43%;
}
.section-f-2 {
  width: 20%;
}
input,
.send-btn {
  border: none;
}
footer input {
  margin-bottom: 3%;
  padding: 10px;
  border-bottom: solid 2px #999999;
}
footer div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}
.send-btn {
  color: #999999;
  border: solid 2px #212121;
  transition: 0.5s;
  margin-bottom: 2px;
}
.send-btn:hover {
  cursor: pointer;
  border: solid 2px #e64919e5;
  transition: 0.3s;
}
.c-p {
  padding-top: 3%;
  display: block;
  border-top: solid 2px #999999;
  font-size: 15px;
  font-family: 'sourcesansregular';
}
input {
  color: white;
}
@media only screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
  }
  html,
  body {
    overflow-x: hidden;
  }
  header {
    background-color: rgba(35, 35, 35, 0.7);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 4%;
    padding: 0 12%;
    z-index: 5;
  }
  .navbar-toggle-button {
    height: 20px;
    display: block;
    margin-right: 20px;
  }

  header div {
    margin-top: 1.7%;
    display: flex;
    justify-content: space-between;
  }
  header h1 {
    display: inline-block;
    font-size: 18px;
    font-family: 'sourcesansbold';
    padding-right: 10%;
    padding-left: 3%;
  }
  header nav {
    display: inline-block;
  }
  .nav-list {
    padding: 10px;
    margin-top: -50px;
    margin-left: 21%;
    opacity: 0;
    transition: 0.2s;
    background-color: rgba(35, 35, 35, 0.7);
  }
  .nav-list.active {
    display: flex;
    gap: 10px;
    margin-top: 6.81%;
    margin-left: 21%;
    opacity: 1;
    transition: 0.2s;
    flex-direction: column;
  }
  header nav li {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'sourcesansbold';
  }
  header nav li a {
    transition: 0.3s;
  }
  header nav li a:hover {
    color: #e64a19;
    transition: 0.3s;
  }
  #nav-bar {
    transition: 0.2s;
    margin: 0;
    padding: 0;
  }

  .head-image {
    width: 100%;
  }
  .section-1 h2 {
    margin-top: 70%;
    font-size: 30px;
    font-family: 'sourcesansblack';
    margin-left: 25%;
  }
  .section-1 div {
    position: absolute;
    margin: 0;
    top: 0;
    flex-direction: column;
  }
  .underline {
    margin: 2% 0 2% 36%;
    width: 30%;
  }
  .section-1-p {
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    width: 90%;
    padding: 0% 10% 0 10%;
    margin: 0 0 0 4%;
  }
  .section-1 div button {
    width: 150px;
    height: 30px;
    margin-left: 30%;
    margin-top: 6%;
    background-color: transparent;
    cursor: pointer;
    transition: 1s;
  }
  .section-1 div button:hover {
    border-color: rgb(230, 74, 25);
    color: black;
    background-color: rgba(230, 74, 25, 0.1);
    transition: 0.5s;
  }
  .section-2 {
    padding: 10%;
    margin-top: 95%;
  }
  .section-2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
  }
  .section-2 h3 {
    text-align: center;
    margin-bottom: 6%;
    font-size: 27px;
    font-family: 'sourcesansbold';
  }
  .section-2 p {
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    font-family: 'sourcesansregular';
  }
  .section-3 {
    background-color: #efefef;
    padding: 5%;
  }
  .section-3 div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .section-3 div article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .section-3 div article img {
    margin-bottom: 5%;
  }
  .section-3 div article h4 {
    margin-bottom: 3%;
    font-size: 18px;
    font-family: 'sourcesanssemibold';
  }
  .section-3 div article p {
    line-height: 25px;
    margin-bottom: 15%;
    font-size: 16px;
    font-family: 'sourcesansregular';
  }
  .section-4 {
    padding: 5%;
  }
  .section-4 h3 {
    text-align: center;
    font-size: 27px;
    font-family: 'sourcesansbold';
  }
  .section-4-p {
    width: 340px;
    text-align: center;
    margin: auto;
    padding: 4% 4% 6% 4%;
    line-height: 30px;
    font-size: 16px;
    font-family: 'sourcesansregular';
  }
  .section-4 div article {
    width: 320px;
    height: 200px;
    background-color: #222222;
    padding: 6% 4%;
    transition: 0.8s;
    position: relative;
    cursor: pointer;
  }
  .section-4 div article:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    left: 0;
    top: 0;
    transform: scale(0, 1);
    transition: transform 0.5s ease;
    background-color: #e64a19;
  }
  .section-4 div article:hover:after {
    transform: scale(1, 1);
  }
  .section-4 div article h5 {
    font-size: 14px;
    text-align: left;
    font-family: 'sourcesansregular';
    color: #eeeeee;
    margin-bottom: 2%;
  }
  .section-4-article-p {
    font-size: 24px;
    font-family: 'sourcesansregular';
    color: #eeeeee;
    margin-bottom: 0;
    line-height: 35px;
  }
  .section-4-name-n-date {
    font-size: 14px;
    font-family: 'sourcesanssemibold';
    color: #eeeeee;
    line-height: 20px;
  }
  .section-4 div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
    flex-direction: column;
    align-items: center;
  }
  .section-5 {
    background-color: #efefef;
    padding: 6% 2% 8% 2%;
  }
  .section-5 h3 {
    font-size: 27px;
    font-family: 'sourcesansbold';
    margin-bottom: 10%;
    text-align: center;
  }
  .clients-img {
    width: 100%;
  }
  .section-6 {
    padding: 2%;
  }
  .section-6 h3 {
    text-align: center;
    font-size: 27px;
    font-family: 'sourcesansbold';
    margin-bottom: 3%;
  }
  .section-6 p {
    width: 340px;
    line-height: 30px;
    font-size: 16px;
    font-family: 'sourcesansregular';
    text-align: center;
    margin: auto;
    margin-bottom: 3%;
  }
  .underline-2 {
    display: block;
    margin: auto;
    margin-bottom: 8%;
  }
  .section-6 ul {
    margin-bottom: 8%;
    text-align: center;
  }
  .section-6 ul li {
    display: inline-block;
    margin: 0 3%;
    font-size: 16px;
    font-family: 'sourcesansregular';
    transition: 0.3s;
  }
  .section-6 ul li:hover {
    color: #e64a19;
    transition: 0.3s;
  }
  .portfolionscreens {
    width: 100%;
    display: block;
    margin: auto;
  }
  .section-7 {
    padding: 8% 6% 6% 5%;
    background-color: #212121;
  }
  .section-7 p,
  h5 {
    color: white;
    font-size: 20px;
    font-family: 'sourcesansregular';
    text-align: center;
  }
  .section-7 p {
    line-height: 38px;
    margin-bottom: 6%;
  }
  .section-8 {
    padding: 13% 15% 10% 15%;
  }
  .section-8 h3 {
    font-size: 27px;
    font-family: 'sourcesansbold';
    text-align: center;
    margin-bottom: 7%;
  }
  .section-8-p {
    font-size: 16px;
    font-family: 'sourcesansregular';
    line-height: 33px;
    text-align: center;
    margin-bottom: 7%;
  }
  .section-8 div article img {
    margin-bottom: 15%;
  }
  .crew-name {
    font-size: 16px;
    font-family: 'sourcesansbold';
    margin-bottom: 6%;
  }
  .role {
    font-size: 15px;
    font-family: 'sourcesansregular';
  }
  .section-8 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .factsandnumbersbg {
    width: 100%;
    position: absolute;
    z-index: 2;
    display: none;
  }
  .facts-numbers {
    position: relative;
    z-index: 3;
    margin: 0;
    padding-top: 7%;
  }
  .section-9 h4 {
    text-align: center;
    padding-bottom: 8%;
    font-family: 'sourcesansbold';
    font-size: 27px;
    color: white;
  }
  .section-9 div blockquote {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10%;
    display: grid;
    justify-content: center;
    column-gap: 140px;
    row-gap: 20px;
    grid-template-columns: 25% 25%;
    grid-template-rows: 60% 60%;
    grid-template-areas:
      'article1' 'article2'
      'article3' 'article4';
  }
  .section-9 div blockquote article {
    text-align: center;
    display: inline-block;
    color: white;
    font-family: 'sourcesanspro';
  }
  .facts-numbers-orange-underline {
    margin-left: 39%;
    margin-right: 49%;
  }
  .section-10 {
    padding: 22% 10% 10% 10%;
  }
  .s-10-div-1 {
    border: #212121b1 solid 1px;
    margin-bottom: 5%;
  }
  .s-10-div-2 {
    border: #212121b1 solid 1px;
    margin-bottom: 5%;
  }
  .s-10-div-3 {
    border: #212121b1 solid 1px;
  }
  .section-10 div img {
    width: 100%;
    padding: 5% 5% 5% 5%;
  }

  .section-10 div article {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 10%;
  }

  .section-10 div article h6 {
    color: #555555;
    font-size: 14px;
    font-family: 'sourcesansregular';
    margin-bottom: 3%;
  }
  .section-10 div article h4 {
    font-size: 24px;
    font-family: 'sourcesanssemibold';
    margin-bottom: 10%;
  }
  .section-10 div article p {
    font-size: 16px;
    font-family: 'sourcesansregular';
    line-height: 25px;
  }
  .section-11 {
    padding: 5%;
    background-color: #efefef;
  }
  .section-11 article {
    padding: 1% 2%;
    display: inline-block;
    border-left: solid 5px black;
  }
  .section-11 h6 {
    font-size: 18px;
    font-family: 'sourcesanssemibold';
    margin-bottom: 5%;
  }
  .section-11 p {
    font-size: 14px;
    font-family: 'sourcesansregular';
    color: #555555;
  }
  .section-11 div {
    display: flex;
    justify-content: space-around;
  }
  footer {
    background-color: #212121;
    padding: 5% 5% 1% 5%;
  }
  footer input {
    background-color: #212121;
  }
  footer h4 {
    color: #eeeeee;
  }
  .f-h-1 {
    margin-bottom: 5%;
    font-size: 22px;
    font-family: 'sourcesansbold';
  }
  .f-h-2 {
    margin-bottom: 7%;
    font-size: 15px;
    font-family: 'sourcesanssemibold';
  }
  footer p {
    margin-bottom: 5%;
    line-height: 25px;
  }
  footer p,
  footer li {
    color: #999999;
    font-size: 15px;
    font-family: 'sourcesansregular';
  }
  footer li {
    margin-bottom: 4%;
  }
  footer li a {
    transition: 0.3s;
  }
  footer li a:hover {
    color: #e64a19;
    transition: 0.3s;
  }
  .msg {
    display: block;
    width: 65%;
  }
  .section-f-1 {
    width: 43%;
  }
  .section-f-2 {
    width: 20%;
    line-height: 50px;
  }
  input,
  .send-btn {
    border: none;
  }
  footer input {
    margin-bottom: 45%;
    padding: 10px;
    border-bottom: solid 2px #999999;
  }
  footer div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
  }
  .send-btn {
    color: #999999;
    border: solid 2px #212121;
    transition: 0.5s;
    margin-bottom: 2px;
  }
  .send-btn:hover {
    cursor: pointer;
    border: solid 2px #e64919e5;
    transition: 0.3s;
  }
  .c-p {
    padding-top: 3%;
    display: block;
    border-top: solid 2px #999999;
    font-size: 15px;
    font-family: 'sourcesansregular';
  }
  input {
    color: white;
  }
}
